.profile {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  grid-template-columns: 120px auto 150px;
  gap: 30px;
  align-items: center;
  margin: 40px 0 50px 0;
}

@media screen and (max-width: 600px) {
  .profile {
    margin-bottom: 36px;
  }
}
